---
// TeamCard.astro
import { astroI18n, t } from "astro-i18n";
astroI18n.locale;

interface Props {
  NomeCognome: string;
  Description: string;
  Master: string;
  University: string;
  Email: string;
  Linkedin: string;
  Website: string;
}

const { NomeCognome, Description, Master, University, Email, Linkedin, Website } = Astro.props;
---

<div class="w-full h-full aspect-square box flex flex-col font-light">
  <div class="flex-grow flex flex-col">
    <div class="title-card">{NomeCognome}</div>
    <div class="flex flex-col gap-1 mt-[3%] sm:mt-[5%] xl:[8%]">
      <div class="text-card hyphens-auto">{Description}</div>
      <div class="text-card opacity-50">
        {Master}
        {Master && University ? ", " : ""}
        {University}
      </div>
    </div>
  </div>

  <div class="flex gap-2">
    {Email && (
      <a href={`mailto:${Email}`} target="_blank" class="opacity-50 hover:opacity-100 transition-opacity text-card">
        E-Mail
      </a>
    )}

    {Linkedin && (
      <a href={Linkedin} target="_blank" class="opacity-50 hover:opacity-100 transition-opacity text-card">
        Linked-In
      </a>
    )}

    {Website && (
      <a href={Website} target="_blank" class="opacity-50 hover:opacity-100 transition-opacity text-card">
        Website
      </a>
    )}
  </div>
</div>