---

import Image from 'astro/components/Image.astro';
import BgImage from '../assets/bgImage.png';
import Menu from '../components/Menu.astro';
import { astroI18n, t } from "astro-i18n";
const currentLocale = astroI18n.locale;
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		
		<meta name="theme-color" content="#1e1e1e"/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<!-- <link rel="manifest" href="/site.webmanifest" /> -->

		<meta name="generator" content={Astro.generator} />

		<meta name="keywords" content={t("keywords")}/>

		<meta property="og:title" content={t("index.title")} />
		<meta property="og:description" content={t("description")} />
		<meta property="og:image" content=`/Card.png` />
		<meta property="og:image:alt" content="SkiSlo – Safety and Innovation on Ski Slopes" />
		<meta property="og:url" content={t("url")} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="SkiSlo" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={t("index.title")} />
		<meta name="twitter:description" content={t("description")} />
		<meta name="twitter:image" content=`/Card.png` />

		<meta name="description" content={t("description")} />
		<link rel="canonical" href={t("url")} />

		<link rel="alternate" hreflang="it" href={t("url")} />
		<link rel="alternate" hreflang="en" href={t("url")} />

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://unpkg.com" />

		<script type="application/ld+json" is:inline>
		{
			"@context": "https://schema.org",
			"@type": "ResearchProject",
			"name": "SkiSlo – Safety and Innovation on Ski Slopes",
			"description": "Research project developing AI-driven digital twins for ski slope safety and accident prevention.",
			"url": "https://skislo.eu",
			"image": "/Card.png",
			"keywords": "SkiSlo, Ski Slo, Safety and Innovation on Ski Slopes, Ski Safety, Ski Accident Prevention, Ski Technology, Ski Innovation, Ski Slope Safety, Digital Twin Skiing, Artificial Intelligence, AI, Machine Learning, Data Science, Risk Mapping, Slope Mapping, 3D Mapping, LIDAR, Infrared Sensors, Snowpack Analysis, Digital Surface Model, DSM, Skiers Dynamic Modeling, Ski Slope Simulation, Risk Prediction, Predictive Safety Skiing, Smart Ski System, Digital Twin Model, Biomechanical Modeling, Snowpack Modeling, Real-Time Risk Monitoring, Winter Sports Innovation, Skiers Safety, Ski Training Simulation, Athlete Safety, Sport Technology, Aerospace Engineering, Engineering, Communication Design, Visual Communication Design, Design Innovation, Research Project, Alta Scuola Politecnica, ASP 21st Cycle, Politecnico di Milano, Politecnico di Torino, Fondazione Matilde Lorenzi, Matilde Lorenzi Foundation, FIS, Fédération Internationale de Ski, Ski Federations, Italian Ski Federation, Environmental Sustainability, Non-Profit Association, SafeSlope Tech, Autonomous Data Processing, Cloud-Based Safety System, Snow Condition Modeling, Aerial Scanning, Slope Data Platform, Skiers Warning Devices, Skiers Reviews Platform, Research Grant, Field Testing, Prototype Development, Drone Testing, On-Site Experiments, Sensor Validation, Data Acquisition, Simulation Validation, Conference Presentation, Scientific Dissemination, Safe Skiing, Sustainable Skiing, Athlete Protection, Preventing Ski Accidents, Sports Data Analytics, Technological Safety, Slope Management, Environmental Protection, Course Setting, Ski Regulation, Risk-Based Training, AI Ski Safety Model, Skiing Digital Transformation, Andrea Pantano, Aerospace Engineering, Rocketry, Propulsion, Space Systems, Aerodynamics, Politecnico di Torino, Andrea Tarabotto, Artificial Intelligence Engineering, Computer Science and Engineering, Machine Learning Applications, Intelligent Systems, Politecnico di Milano, Cosmo Spinosa, Aerospace Propulsion Systems, Rocket Design, Turbomachinery, Aerospace Simulation, Politecnico di Torino, Davide Cortinovis, Quantum Engineering, Nanotechnology, Quantum Effects, Nanosystems, Engineering Physics, Politecnico di Milano, Giulia De Pascale, Mathematical Engineering, Computational Science, Computational Learning, Applied Mathematics, Scientific Computing, Politecnico di Milano, Nunzio Licalzi, Data Science and Engineering, Big Data Management, Artificial Intelligence Systems, Machine Learning, Data Analytics, Politecnico di Torino, Matteo Postinghel, Communication Design, Visual Systems Design, Digital Product Design, Human-Centered Design, Interaction Design, Design Research, Politecnico di Milano, Riccardo Savio, Aerospace Engineering, Aerogas Dynamics, Fluid Mechanics, Simulation Modeling, Experimental Aerodynamics, Politecnico di Torino, Alta Scuola Politecnica Research, Interdisciplinary Project, Academic Research Project, Safety Innovation, Sports Technology Research, Digital Transformation in Sports",
			"creator": [
			{ "@type": "CollegeOrUniversity", "name": "Alta Scuola Politecnica" },
			{ "@type": "CollegeOrUniversity", "name": "Politecnico di Milano" },
			{ "@type": "CollegeOrUniversity", "name": "Politecnico di Torino" }
			],
			"funder": {
			"@type": "Organization",
			"name": "Fondazione Matilde Lorenzi"
			},
			"inLanguage": "it"
		}
		</script>


		<script src="https://unpkg.com/alpinejs" defer></script>
		<script is:inline>
			document.addEventListener('alpine:init', () => {
				Alpine.store('menu', { active: null });
			});
		</script>

		<link rel="stylesheet" href="/src/styles/global.css">
		<title>SkiSlo</title>
	</head>
	<body class="bg-[#252525] text-white overflow-y-auto no-scrollbar" data-scroll-root>
		<div class="fixed inset-0 -z-50 ">
			<Image
				id="bg-image"
				src={BgImage}
				alt="Background"
				format="webp"                           
				widths={[640, 1024, 1440, 1920, 2200, 2500]}        
				sizes="100vw"
				class="w-screen h-screen object-cover transform origin-center opacity-70 transition-transform animate-fadeZoom"
			/>
		</div>


		<Menu/>
		<div class="flex md:grid md:grid-cols-2 p-2 sm:p-4 w-full max-md:mt-[50vh] mt-[53px]">
			<div class="max-md:hidden"></div>
			<div class="text-xs sm:text-sm w-full"> <slot /> </div>
		</div>
	</body>
</html>

<style is:global>
	[x-cloak] {
		display: none !important;
	}


	@keyframes fadeZoom {
		from { opacity: 0; transform: scale(1); }
		to { opacity: 0.7; transform: scale(1.05); }
	}
	.animate-fadeZoom {
	animation: fadeZoom 2000ms ease-in-out forwards;
	}

	
</style>

<script is:inline>
  function scrollTopInstant() {
    const el =
      document.querySelector('[data-scroll-root]') ||
      document.scrollingElement ||
      document.documentElement;
    setTimeout(() => {
      if (el.scrollTo) el.scrollTo({ top: 0, behavior: 'smooth' });
      else el.scrollTop = 0;
    }, 0);
  }
</script>
<!-- <script is:inline>
	if (window.innerWidth >= 640) {
		const img = document.getElementById("bg-image");
		const strength = 5; 
		window.addEventListener("mousemove", (e) => {
			const x = (e.clientX / window.innerWidth - 0.5) * strength;
			const y = (e.clientY / window.innerHeight - 0.5) * strength;
			img.style.transform = `translate(${x}px, ${y}px) scale(1.05)`;
		});
		window.addEventListener("mouseleave", () => {
			img.style.transform = "translate(0, 0) scale(1)";
		});
	} else {
		window.addEventListener("scroll", () => {
			const scrollY = window.scrollY;
			const translateY = scrollY * strength;
			img.style.transform = `translateY(${translateY}px) scale(1.05)`;
		});
	}


</script> -->

<script is:inline>
	document.addEventListener('alpine:init', () => {
	Alpine.store('menu', { active: null }); 
	});
</script>
